.container__cover {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__cover_form {
  width: 55% !important;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

form .signIn__form {
  background-color: rgba(255, 255, 255, 1) !important;
}

.container__cover_form form div label {
  color: #000;
  user-select: none;
}

.form__button {
  display: flex;
  justify-content: space-between;
}
