.signUp_container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp_container_cover {
  width: 55% !important;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.signUp_container_cover form div label {
  color: #000;
  user-select: none;
}

.signUn__button {
  display: flex;
  justify-content: space-between;
}
/* 
div.form-group {
  margin: 0 !important;
} */

.helperErrorText {
  /* display: none; */
  /* visibility: hidden; */
  /* opacity: 0; */
  color: transparent !important;
  margin: 0 0 20px 0;
}

.helperErrorTextVisiblity {
  color: red !important;
}

.inputBorderError {
  border: 1px solid red !important;
}
