.item_card {
  width: 60% !important;
  height: 550px !important;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.83) !important;
}

.skl_circles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item_card_skeleton {
  user-select: none !important;
  outline: none !important;
  border: none !important;
  border-radius: 10px !important;
  width: 100% !important;
  max-height: auto !important;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.83) !important;
}

.descriptionGood {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
