/* .header_cover {
  background-color: transparent !important;
} */

.navbar-brand {
  width: 65px !important;
  height: 65px !important;
  user-select: none !important;
  border: 0;
  border-radius: 50%;
  animation: turningAround 150s linear infinite;
}

.header_cover .navbar {
  width: 100% !important;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.navbar__navigation_item:hover .navbar__navigation_item_a {
  color: lightskyblue !important;
}

/* navbar profile */
.navbar_profile_avatar {
  margin-left: 20px !important;
}

.navbar_profile_name {
  color: white !important;
}

/* EditError filedagi error buttoni */
.error_closing_button {
  outline: none !important;
  user-select: none !important;
  border: none !important;
}

.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.item_added_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ./SimpleDialog/StoresList.jsx */
.cover_store_buttons {
  width: 100% !important;
  height: 100% !important;
}

.stores_button {
  width: 100% !important;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#simple-dialog-title {
  user-select: none !important;
}

@keyframes turningAround {
  0% {
    transform: rotateZ(0);
    background-color: #ff7675;
  }
  50% {
    transform: rotate(180deg);
    background-color: lightskyblue;
  }
  100% {
    transform: rotateZ(360deg);
    background-color: #ff7675;
  }
}
