body {
  padding: 0 !important;
  margin: 0 !important;
}

.background__cover_video {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -5;
  width: auto;
  height: auto;
}

.background__cover_changer_button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0.3);
  color: aliceblue;
  outline: none !important;
  transition: 0.005s ease-in-out;
}

.background__cover_changer_button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.background__cover_changer_button:active {
  background-color: #000;
  color: #fff;
}
